<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] traceId=%X{traceId} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DISCORD" class="parfait.external.logging.DiscordErrorAppender" />

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DISCORD" />
        <neverBlock>true</neverBlock>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC_DISCORD" />
    </root>
</configuration>
